[Unit]
Description=admin
After=network.target
StartLimitIntervalSec=0

[Service]
User=jack
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/jack/coldvaults/bin/admin --port=7503 --config=/home/jack/coldvaults/etc/config.json

[Install]
WantedBy=default.target

