[Unit]
Description=auth
After=network.target
StartLimitIntervalSec=0

[Service]
User=jack
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/jack/coldvaults/bin/auth --port=7501 --config=/home/jack/coldvaults/etc/config.json

[Install]
WantedBy=default.target

