[Unit]
Description=coldvaults admin
After=network.target
StartLimitIntervalSec=0

[Service]
User=cv
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/cv/coldvaults
ExecStart=/usr/bin/bash -c 'cargo run --bin admin --release --host=admin.defi.digital --port=443 --config=etc/config.json'

StandardError=append:/home/cv/coldvaults/log/coldvaults_admin.log
StandardOutput=append:/home/cv/coldvaults/log/coldvaults_admin.log
StandardInput=null

[Install]
WantedBy=default.target

