[Unit]
Description=iloverust user
After=network.target
StartLimitIntervalSec=0

[Service]
User=ilr
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/ilr/iloverust
ExecStart=/usr/bin/bash -c 'cargo run --bin user --release --host=user.iloverust --port=443 --config=etc/config.json'

StandardError=append:/home/ilr/iloverust/log/iloverust_user.log
StandardOutput=append:/home/ilr/iloverust/log/iloverust_user.log
StandardInput=null

[Install]
WantedBy=default.target

